{% if free_base_template == True %}
    {% extends "base_open.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% set active_page = "admin_domain_template" %}
{% block title %}<title xmlns="http://www.w3.org/1999/html">Edit Template - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
{% if free_base_template == False %}
<section class="content-header">
    <h1>
        Edit Domain Connect template <small>{{ template.providerId }} / {{ template.serviceId }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i
                class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for('domainconnect.templates') }}"><i class="fa fa-puzzle-piece"></i> Domain Connect Templates</a></li>
        <li>{{ template.providerId }}</li>
        <li class="active">{{ template.serviceId }}</li>
    </ol>
</section>
{% endif %}
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% if apply_state_saved_at %}
                    <p class="text-muted"><small><i class="fa fa-clock-o"></i> Saved at: {{ apply_state_saved_at }}</small></p>
                    {% endif %}
                    <h3 class="box-title">Template for {{ template.providerId }} / {{ template.serviceId}}</h3>
                </div>
                {% if free_base_template == False %}
                <div class="box-body">
                    {% if new or can_access_domain(template.providerId)%}
                    <button type="button" class="btn btn-flat btn-primary pull-right button_apply_changes" id="{{ template.providerId }}.{{ template.serviceId }}">
                        Apply Changes&nbsp;<i class="fa fa-floppy-o"></i>
                    </button>
                    {% else %}
                    &nbsp;
                    {% endif %}
                </div>
                {% endif %}
                <div class="box-body">
                    <div id="jsoneditor"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Variables</h3>
                </div>
                {% if templateerror %}
                    <!-- Error Alert -->
                    <div class="alert alert-danger show">
                        <strong>Error!</strong> Error parsing template variables: {{ templateerror }}
                    </div>
                {% endif %}

                <div class="box-body">
                    <button type="button" class="btn btn-flat btn-primary pull-right button_reload_params">
                        Check&nbsp;template<i class="fa fa-floppy-o"></i>
                    </button>
                </div>
                <div class="box-body">
                    <select id="test_selection" class="pull-right col-xs-2">
                        <option value="<clear>">-----</option>
                    </select>
                </div>
                {% if error %}
                    <!-- Error Alert -->
                    <div class="alert alert-danger show" id="tbl_records_and_errors">
                        <strong>Error!</strong> A problem has been occurred while submitting your data: {{ error }}
                    </div>
                {% endif %}

                <form id="variable_post" method="POST">
                    <input type="hidden" name="_template" id="variable_post_template"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="_test_template" id="variable_test_template" value="false"/>
                    <input type="hidden" name="_testdata" id="variable_post_testdata" value='{{ testdata | default({}) | tojson }}'/>
                    <div class="box-body">
                        <div class="box-header">
                            <h4>Apply request parameters:</h4>
                        </div>
                        <div class="row variable-input">
                            <label class="col-xs-2" for="param_domain">
                                Domain:
                            </label>
                            <div>
                                <input type="text" id="param_domain" name="domain" class="input col-xs-9 param-input" value="{{ params['domain'] }}"/>
                            </div>
                        </div>
                        <div class="row variable-input">
                            <label class="col-xs-2" for="param_host">
                                Host:
                            </label>
                            <div>
                                <input type="text" id="param_host" name="host" class="input col-xs-9 param-input" value="{{ params['host'] }}"/>
                            </div>
                        </div>
                        {% if groups %}
                                <h5>Groups:</h5>
                                {% for g in groups %}
                                    <div class="row">
                                        <label class="col-xs-2" for="group-{{ g }}">{{ g }}</label>
                                        <div>
                                            <input type="checkbox" class="input col-xs-1 group-checkbox param-input-cbx" id="group-{{ g }}" name="group" value="{{ g }}" {% if g in group_values %}checked{% endif %} >
                                        </div>
                                    </div>
                                {% endfor %}
                        {% endif %}
                    </div>
                    <div class="box-body">
                        <div class="box-header">
                            <h4>Template variables:</h4>
                        </div>
                        {% for k, v in params.items() %}
                            {% if k not in ['domain', 'host', 'group'] %}
                                <div class="row variable-input"
                                    {% for gk, gv in group_variables.items() %}
                                        {% if k in gv %}
                                            data-group-{{ gk }}="{% if gk in group_values %}true{% else %}false{% endif %}"
                                        {% endif %}
                                    {% endfor %}
                                >
                                    <label class="col-xs-2" for="param_{{ k }}">
                                        {{ k }}
                                    </label>
                                    <div>
                                        <input type="text" id="param_{{ k }}" name="{{ k }}" class="input col-xs-9 param-input" value="{{ v if v is not none else '' }}"/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="box-body">
                        <button type="button" class="btn btn-flat btn-primary pull-right button_submit_params">
                            Test&nbsp;apply&nbsp;template&nbsp;<i class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                </form>
                {% if records %}
                <div class="box-body" id="tbl_records_and_errors">
                    <table id="tbl_records" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>TTL</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for record in records %}
                                <tr class="odd row_record">
                                    <td>
                                        {{ record.name | pretty_domain_name }}
                                    </td>
                                    <td>
                                        {{ record.type }}
                                    </td>
                                    <td>
                                        {{ record.ttl }}
                                    </td>
                                    <td>
                                        {{ record.data | pretty_domain_name }}
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <div class="box-body">
                        <div class="col col-xs-6">&nbsp;</div>
                        <input type="text" id="save_test_name" class="input col-xs-2">
                        <div class="col col-xs-1">&nbsp;</div>
                        <button type="button" id="save_test_btn" class="btn btn-flat btn-primary col-xs-2">
                            Save&nbsp;<i class="fa fa-floppy-o"></i>
                        </button>
                        <button type="button" id="delete_test_btn" class="btn btn-flat btn-danger col-xs-1" style="display:none">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                {% endif %}
                {% if apply_state_token %}
                {% set _host_part = (params.host if params.host else "@") %}
                {% set test_label = "Test " ~ template.providerId ~ "/" ~ template.serviceId ~ " " ~ (params.domain | default('', true)) ~ "/" ~ _host_part %}
                <div class="box-body" >
                    <a href="#" id="test-state-link">{{ test_label }}</a>
                    <button type="button" class="btn btn-xs btn-default" id="copy-link-btn"
                            title="Copy as rich link (Word, Confluence, Notion, GitHub)">
                        <i class="fa fa-clipboard"></i> Copy link
                    </button>
                    <button type="button" class="btn btn-xs btn-default" id="copy-markdown-btn"
                            title="Copy as Markdown link (GitHub)">
                        <i class="fa fa-github"></i> Copy Markdown
                    </button>
                </div>
                <script>
                    window._testStateToken = '{{ apply_state_token }}';
                    window._testStateLabel = '{{ test_label | replace("'", "\\'") }}';
                    window._testStateUrl = '{{ url_for('domainconnect.free_template_edit', token=apply_state_token, _external=True) | replace("'", "\\'") }}';
                    window._updateTestdataTokenUrl = '{{ url_for('domainconnect.free_update_testdata_token') }}';
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrascripts %}
<script type="module">
      import { createAjvValidator, JSONEditor } from '{{ url_for('static', filename='generated/vanilla-jsoneditor.js') }}'

      window.editor = null;

      var schema = $.getJSON("{{ url_for('domainconnect.template_schema') }}", function(data) {
        // some hacks to make the schema working fine with avj
        delete data.$schema;
        delete data.definitions.DomainConnectTemplate.properties.logoUrl['qt-uri-protocols'];
        delete data.definitions.DomainConnectTemplate.properties.logoUrl['qt-uri-extensions'];
        //data.definitions.TTL.anyOf[0].type = "number";
        //delete data.definitions.TTL.anyOf[1].format;
        var obj = {};
        // pretty formatting JSON
        {% if template_raw %}
        obj.text = {{ template_raw | tojson }};
        {% else %}
        obj.text = JSON.stringify(JSON.parse('{{ template | tojson}}'), null, 2);
        {% endif %}
        // create the editor
        window.editor = new JSONEditor({
          target: document.getElementById('jsoneditor'),
          props: {
            validator: createAjvValidator(data),
            mode: "text",
            indentation: 2,
            mainMenuBar: false,
            navigationBar: false,
            content: obj,
            focus: false
            {% if not(new or can_access_domain(template.providerId)) %}
            ,readOnly: true
            {% endif %}
          }
        });
        updateTestDropDown();
        updateVariableVisibility();
        if (document.location.hash.startsWith('#')) {
            let element = document.getElementById(document.location.hash.substring(1))
            if (element !== null)
                element.scrollIntoView();
        }
      });


</script>
<script>
    // superglobals
    window.nEditing = null;
    window.nNew = false;
    window.nNewEntry = {{ new | lower }};

    // handle apply changes button
    $(document.body).on("click",".button_apply_changes", function() {
        if (nNew || nEditing) {
            var modal = $("#modal_error");
            modal.find('.modal-body p').text("Previous record not saved. Please save it before applying the changes.");
            modal.modal('show');
            return;
        }

        var modal = $("#modal_apply_changes");
        var template = $(this).prop('id');
        var info = "Are you sure you want to apply your changes?";
        modal.find('.modal-body p').text(info);

        // following unbind("click") is to avoid multiple times execution
        modal.find('#button_apply_confirm').unbind("click").click(function() {
            const content = JSON.parse(window.editor.get().text);
            if (window.nNewEntry === false) {
                applyChanges( {'_csrf_token': '{{ csrf_token() }}', 'template': content}, $SCRIPT_ROOT + '{{ template.serviceId }}/save', true);
            }
            else {
                applyChanges( {'_csrf_token': '{{ csrf_token() }}', 'template': content},
                    '{{ url_for('domainconnect.template_save_new') }}', true);
            }
            modal.modal('hide');
        })
        modal.modal('show');
    });
    $(document.body).on("click",".button_reload_params", function() {
        $("#variable_post_template").val(window.editor.get().text);
        $("#variable_post").attr('action', '#variable_post');
        $("#variable_post").submit();
    });
    $(document.body).on("click",".button_submit_params", function() {
        $("#variable_post_template").val(window.editor.get().text);
        $("#variable_test_template").val(true);
        $("#variable_post").attr('action', '#tbl_records_and_errors');
        $("#variable_post").submit();
    });
    {% if params and records %}
    $(document.body).on("click", "#save_test_btn", function(e) {
        e.stopPropagation();
        const testName = $("#save_test_name").val();
        if (testName == "") {
            alert("Set a name for test data set.");
            $("#save_test_name").focus();
            return;
        }
        var testdata = JSON.parse($("#variable_post_testdata").val() || "{}");
        if (!testdata.tests) testdata.tests = {};
        var variables = {{ params | tojson }};
        variables.group = {{ group_values | tojson }};
        for (var k in variables) {
            if (variables[k] === '') {
                delete variables[k];
            }
        }
        testdata.tests[testName] = {
            'variables': variables,
            'results': {{ records | tojson }}
        };
        testdata.selected_test = testName;
        $("#variable_post_testdata").val(JSON.stringify(testdata));
        updateTestDropDown();
        if (typeof refreshTestdataToken === 'function') refreshTestdataToken();
    });
    {% endif %}
    $(document.body).on("change", ".group-checkbox", function(e) {
        updateVariableVisibility();
    });
    $(document.body).on("change", ".param-input, .param-input-cbx", function(e) {
        $("#tbl_records_and_errors").hide();
    });
    $(document.body).on("keydown", ".param-input", function(e) {
        $("#tbl_records_and_errors").hide();
    });
    const updateSaveTestBtnLabel = function() {
        var testdata = JSON.parse($("#variable_post_testdata").val() || "{}");
        var tests = testdata.tests || {};
        var name = $("#save_test_name").val();
        var exists = (name in tests);
        var label = exists ? "Save" : "Add as test";
        $("#save_test_btn").html(label + '&nbsp;<i class="fa fa-floppy-o"></i>');
        $("#delete_test_btn").toggle(exists);
    }
    $(document.body).on("click", "#delete_test_btn", function(e) {
        e.stopPropagation();
        var name = $("#save_test_name").val();
        var testdata = JSON.parse($("#variable_post_testdata").val() || "{}");
        if (testdata.tests && name in testdata.tests) {
            delete testdata.tests[name];
        }
        if (testdata.selected_test === name) {
            delete testdata.selected_test;
        }
        $("#save_test_name").val("");
        $("#variable_post_testdata").val(JSON.stringify(testdata));
        updateTestDropDown();
        updateSaveTestBtnLabel();
        if (typeof refreshTestdataToken === 'function') refreshTestdataToken();
    });
    $(document.body).on("change", "#test_selection", function(e) {
        $("#tbl_records_and_errors").hide();
        $(".param-input").val("");
        $("#param_domain").val("example.com");
        $(".param-input-cbx").prop('checked', false);
        var testdata = JSON.parse($("#variable_post_testdata").val() || "{}");
        var tests = testdata.tests || {};
        var select = $("#test_selection").find(":selected").val();
        testdata.selected_test = select;
        $("#variable_post_testdata").val(JSON.stringify(testdata));
        $("#save_test_name").val(select !== "<clear>" ? select : "");
        updateSaveTestBtnLabel();
        if (select in tests && tests[select].variables != null) {
            for (var k in tests[select].variables) {
                $("#param_" + k).val(tests[select].variables[k]);
            }
            if ("group" in tests[select].variables) {
                for (var g in tests[select].variables.group) {
                    $("#group-" + tests[select].variables.group[g]).prop('checked', true);
                }
            }
        }
        updateVariableVisibility();
    });
    const updateTestDropDown = function() {
        var testdata = JSON.parse($("#variable_post_testdata").val() || "{}");
        var tests = testdata.tests || {};
        var select = $("#test_selection")[0];
        $(".test-selection-option").remove();
        for (var k in tests) {
            const option = document.createElement('option');
            option.innerHTML = k;
            option.setAttribute("value", k);
            option.setAttribute("class", "test-selection-option");
            select.appendChild(option);
        }
        if (testdata.selected_test) {
            $("#test_selection").val(testdata.selected_test);
            $("#save_test_name").val(testdata.selected_test);
            updateSaveTestBtnLabel();
        }
    }
    $(document.body).on("input", "#save_test_name", function() {
        updateSaveTestBtnLabel();
    });
    const updateVariableVisibility = function() {
        const all_groups = {{ groups | tojson }};
        var_inputs = $(".variable-input")
        var any_grp_selected = false;
        for (grp in all_groups) {
            if ($("#group-" + all_groups[grp])[0].checked) {
                any_grp_selected = true;
                break;
            }
        }

        for (i = 0; i < var_inputs.length; i++) {
            input_field = var_inputs[i];
            var show = false;
            var any_data = false;
            if (any_grp_selected) {
                for (grp in all_groups) {
                    if (input_field.getAttribute("data-group-" + all_groups[grp]) != null) {
                        any_data = true;
                        val = $("#group-" + all_groups[grp])[0].checked;
                        input_field.setAttribute("data-group-" + all_groups[grp], val);
                        show |= val
                    }
                }
                input_field.hidden = !show && any_data;
            }
            else {
                input_field.hidden = false;
            }
        }
    }
    {% if apply_state_token %}
    function updateTestStateLink() {
        $("#test-state-link").attr('href', window._testStateUrl);
    }
    function refreshTestdataToken() {
        var testdata = JSON.parse($("#variable_post_testdata").val() || "{}");
        $.ajax({
            url: window._updateTestdataTokenUrl,
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({token: window._testStateToken, testdata: testdata, _csrf_token: $('input[name="_csrf_token"]').val()}),
            success: function(resp) {
                window._testStateToken = resp.token;
                window._testStateUrl = resp.url;
                updateTestStateLink();
            }
        });
    }
    $(document.body).on("click", "#copy-link-btn", function() {
        var url = window._testStateUrl;
        var label = window._testStateLabel;
        var item = new ClipboardItem({
            'text/plain': new Blob([url], {type: 'text/plain'}),
            'text/html': new Blob(['<a href="' + url + '">' + label + '</a>'], {type: 'text/html'})
        });
        navigator.clipboard.write([item]).then(function(){
            var orig = $("#copy-link-btn").html();
            $("#copy-link-btn").html('<i class="fa fa-check"></i> Copied!');
            setTimeout(function(){ $("#copy-link-btn").html(orig); }, 1500);
        });
    });
    $(document.body).on("click", "#copy-markdown-btn", function() {
        var md = '[' + window._testStateLabel + '](' + window._testStateUrl + ')';
        navigator.clipboard.writeText(md).then(function(){
            var orig = $("#copy-markdown-btn").html();
            $("#copy-markdown-btn").html('<i class="fa fa-check"></i> Copied!');
            setTimeout(function(){ $("#copy-markdown-btn").html(orig); }, 1500);
        });
    });
    updateTestStateLink();
    {% endif %}
</script>
{% endblock %}
{% block modals %}
<div class="modal fade modal-warning" id="modal_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left" id="button_delete_cancel"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-flat btn-danger" id="button_delete_confirm">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade modal-primary" id="modal_apply_changes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-flat btn-primary" id="button_apply_confirm">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
