{% extends "base.html" %}
{% set active_page = "admin_domain_template" %}
{% block title %}<title>Edit Template - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
<section class="content-header">
    <h1>
        Edit Domain Connect template <small>{{ template.providerId }} / {{ template.serviceId }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i
                class="fa fa-dashboard"></i> Home</a></li>
        <li>Domain Connect Templates</li>
        <li>{{ template.providerId }}</li>
        <li class="active">{{ template.serviceId }}</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Template Records for {{ template.providerId }} / {{ template.serviceId}}</h3>
                </div>
                <div class="box-body">
                    <button type="button" class="btn btn-flat btn-primary pull-right button_apply_changes" id="{{ template.providerId }}.{{ template.serviceId }}">
                        Apply Changes&nbsp;<i class="fa fa-floppy-o"></i>
                    </button>
                </div>
                <div class="box-body">
                    <div id="jsoneditor"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrascripts %}
<script type="module">
      import { createAjvValidator, JSONEditor } from '{{ url_for('static', filename='node_modules/vanilla-jsoneditor/index.js') }}'

      window.editor = null;

      var schema = $.getJSON('https://raw.githubusercontent.com/Domain-Connect/Templates/master/template.schema', function(data) {
        console.log(data);
        // some hacks to make the schema working fine with avj
        delete data.$schema;
        delete data.definitions.DomainConnectTemplate.properties.logoUrl['qt-uri-protocols'];
        delete data.definitions.DomainConnectTemplate.properties.logoUrl['qt-uri-extensions'];
        data.definitions.TTL.anyOf[0].type = "number";
        delete data.definitions.TTL.anyOf[1].format;
        var obj = {};
        // pretty formatting JSON
        obj.text = JSON.stringify(JSON.parse('{{ template | tojson}}'), null, 2);

        // create the editor
        window.editor = new JSONEditor({
          target: document.getElementById('jsoneditor'),
          props: {
            validator: createAjvValidator(data),
            mode: "text",
            indentation: 2,
            mainMenuBar: false,
            navigationBar: false
          }
        });
        window.editor.set(obj);
      });


</script>
<script>
    // superglobals
    window.nEditing = null;
    window.nNew = false;
    window.nNewEntry = {{ new | lower }};

    // handle apply changes button
    $(document.body).on("click",".button_apply_changes", function() {
        if (nNew || nEditing) {
            var modal = $("#modal_error");
            modal.find('.modal-body p').text("Previous record not saved. Please save it before applying the changes.");
            modal.modal('show');
            return;
        }

        var modal = $("#modal_apply_changes");
        var template = $(this).prop('id');
        var info = "Are you sure you want to apply your changes?";
        modal.find('.modal-body p').text(info);

        // following unbind("click") is to avoid multiple times execution
        modal.find('#button_apply_confirm').unbind("click").click(function() {
            const content = JSON.parse(window.editor.get().text);
            if (window.nNewEntry) {
                applyChanges( {'_csrf_token': '{{ csrf_token() }}', 'template': content}, $SCRIPT_ROOT + '{{ template.serviceId }}/save', true);
            }
            else {
                applyChanges( {'_csrf_token': '{{ csrf_token() }}', 'template': content},
                    '{{ url_for('domainconnect.template_save_new') }}', true);
            }
            modal.modal('hide');
        })
        modal.modal('show');
    });
</script>
{% endblock %}
{% block modals %}
<div class="modal fade modal-warning" id="modal_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left" id="button_delete_cancel"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-flat btn-danger" id="button_delete_confirm">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade modal-primary" id="modal_apply_changes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-flat btn-primary" id="button_apply_confirm">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
